# Media & Large Files
*.webm
*.mp4
*.gif
*.aep
hyperzoom.aep_AME/
01.webm
02.webm
03.webm
04.webm
05.webm
hyperzoom.gif
hyperzoom.mp4

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
